:root {
  --swu-primary: #4b3cf6;
  --swu-dark: #12121b;
  --swu-gray: #6c6c75;
  --swu-bg-light: #f6f6fb;
}

/* Geral */

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  color: #222;
}

.section-title {
  font-weight: 700;
  font-size: 2rem;
}

a {
  text-decoration: none;
}

.section-subtitle {
  color: var(--swu-gray);
}

/* Navegação*/

/* HERO */
.hero-section {
  background-color: #ffffff;
}

.hero-background {
    background-image: url("../img/img1.png");
    background-size: cover;
    /*background-attachment: fixed;*/
    background-repeat: no-repeat;
    background-position: center;
    min-height: 80vh;

} 
/*
.hero-card {
  background: rgba(255, 255, 255, 0.95);
  border-radius: 24px;
  box-shadow: 0 22px 40px rgba(15, 23, 42, 0.15);
}*/

.hero-title {
  font-size: 2.4rem;
  color: white;
}

.hero-subtitle {
  color: white;
}

.hero-form {
    border-radius: 16px;
    background: #f8fafc;
    border: 2px solid #e2e8f0;
}

/* section emprego */

#search-btn, #search-imput {
    font-size: 12px !important;
}

.ms-negativa {
  margin-left: -15px;
}

/* section nossos clientes*/
.google-subtitle {
  margin-top: -30px;
  margin-left: 75px;
}

/* Banner roxo (oferecemos) */
.oferecemos-banner {
  background: var(--swu-primary);
}

/* Cards gerais */
.swu-card {
  border-radius: 20px;
  border: 1px solid #e5e7eb;
  box-shadow: 0 12px 35px rgba(15, 23, 42, 0.08);
}

/* Avatar simples */
.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #ddd;
}

/* Footer */
.swu-footer {
  background: #111827;
  color: #e5e7eb;
}

.footer-title {
  font-weight: 600;
}

.footer-links li a {
  color: #9ca3af;
  text-decoration: none;
  font-size: 0.9rem;
}

.footer-links li a:hover {
  color: #fff;
}

.footer-bottom {
  color: #9ca3af;
}

/* Responsividade */
@media (max-width: 767.98px) {
  .hero-title {
    font-size: 1.9rem;
  }
}
